<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AdminConnection"   connectionString="Data Source=PasyagitkaASUS;Initial Catalog=TheBureau;User ID=admin_login;Password=admin;ApplicationIntent=ReadWrite;" providerName="System.Data.SqlClient"/>
    <add name="ClientConnection"  connectionString="Data Source=PasyagitkaASUS;Initial Catalog=TheBureau;User ID=client_login;Password=client" providerName="System.Data.SqlClient"/>
    <add name="BrigadeConnection" connectionString="Data Source=PasyagitkaASUS;Initial Catalog=TheBureau;User ID=brigade_login;Password=brigade" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>