# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TheBureau.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Professional\TheBureau\TheBureau\.idea\.idea.TheBureau\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
