<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="TheBureauConnection" connectionString="data source=PasyagitkaASUS;initial catalog=TheBureauWPF;integrated security=False;User ID=admin_login;Password=admin;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="TheBureau.Properties.Settings.TheBureauConnectionString" connectionString="Data Source=PasyagitkaASUS;Initial Catalog=TheBureau;Persist Security Info=True;User ID=admin_login;Password=admin" providerName="System.Data.SqlClient" />
    <add name="Model1" connectionString="data source=PasyagitkaASUS;initial catalog=TheBureau;persist security info=True;user id=admin_login;password=admin;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>